<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basisapplication">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<sql id="selectId">
		DESCN AS descn,
		ID AS id,
		CREATE_TIME AS createTime,
		STATUS AS status,
		APPLICATION_NAME AS applicationName,
		FILTER_TEXT AS filterText,
		MODIFY_TIME AS modifyTime,
		READONLY AS readonly,
		DISP_INX AS displayIndex,
		
		BASIS_SUBSTANCE_TYPE_ID,
		BASIS_SCHEMA_ID
	</sql>
	
	<resultMap id="basisApplicationMap" type="com.van.halley.db.persistence.entity.BasisApplication">
        <id property="id" column="ID" />
        <result property="applicationName" column="APPLICATION_NAME" />
        <result property="readonly" column="READONLY" />
        <result property="filterText" column="FILTER_TEXT" />
        
        <result property="descn" column="DESCN" />
        <result property="status" column="STATUS" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="modifyTime" column="MODIFY_TIME" />
        <result property="displayIndex" column="DISP_INX" />
        
        <association property="basisSchema" column="BASIS_SCHEMA_ID" select="basisschema.getById" ></association>
        <association property="basisSubstanceType" column="BASIS_SUBSTANCE_TYPE_ID" select="basissubstancetype.getById" ></association>
    </resultMap>

	<select id="query" parameterType="java.util.HashMap" useCache="false"
		resultMap="basisApplicationMap">
		select
		<include refid="selectId" />
		from BASIS_APPLICATION
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.basisSchema != null and t.basisSchema != ''">
				and BASIS_SCHEMA_ID = #{t.basisSchema.id}
			</if>
			<if test="t.applicationName != null and t.applicationName != ''">
				and APPLICATION_NAME = #{t.applicationName}
			</if>
			<if test="t.filterText != null and t.filterText != ''">
				and FILTER_TEXT = #{t.filterText}
			</if>
			<if test="t.basisSubstanceType != null and t.basisSubstanceType != ''">
				and BASIS_SUBSTANCE_TYPE_ID = #{t.basisSubstanceType.id}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.readonly != null and t.readonly != ''">
				and READONLY = #{t.readonly}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="BasisApplication"
		resultMap="basisApplicationMap">
		select
		<include refid="selectId" />
		from BASIS_APPLICATION
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="basisSchema != null and basisSchema != ''">
				and BASIS_SCHEMA_ID = #{basisSchema.id}
			</if>
			<if test="applicationName != null and applicationName != ''">
				and APPLICATION_NAME = #{applicationName}
			</if>
			<if test="filterText != null and filterText != ''">
				and FILTER_TEXT = #{filterText}
			</if>
			<if test="basisSubstanceType != null and basisSubstanceType != ''">
				and BASIS_SUBSTANCE_TYPE_ID = #{basisSubstanceType.id}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="readonly != null and readonly != ''">
				and READONLY = #{readonly}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
		
		ORDER BY DISP_INX ASC
	</select>

	<select id="getAll" resultMap="basisApplicationMap">
		select
		<include refid="selectId" />
		from BASIS_APPLICATION
	</select>

	<select id="count" parameterType="BasisApplication" resultType="int">
		select count(0) from BASIS_APPLICATION
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="basisSchema != null and basisSchema != ''">
				and BASIS_SCHEMA_ID = #{basisSchema.id}
			</if>
			<if test="applicationName != null and applicationName != ''">
				and APPLICATION_NAME = #{applicationName}
			</if>
			<if test="filterText != null and filterText != ''">
				and FILTER_TEXT = #{filterText}
			</if>
			<if test="basisSubstanceType != null and basisSubstanceType != ''">
				and BASIS_SUBSTANCE_TYPE_ID = #{basisSubstanceType.id}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="readonly != null and readonly != ''">
				and READONLY = #{readonly}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="BasisApplication">
		insert into BASIS_APPLICATION( DESCN, ID, CREATE_TIME, STATUS,
		BASIS_SCHEMA_ID, APPLICATION_NAME, FILTER_TEXT,
		BASIS_SUBSTANCE_TYPE_ID, MODIFY_TIME, READONLY, DISP_INX )values (
		#{descn},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{status},
		#{basisSchema.id},
		#{applicationName},
		#{filterText},
		#{basisSubstanceType.id},
		#{modifyTime},
		#{readonly},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from BASIS_APPLICATION where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultMap="basisApplicationMap">
		select
		<include refid="selectId" />
		from BASIS_APPLICATION where id=#{id}
	</select>

	<update id="update" parameterType="BasisApplication">
		update BASIS_APPLICATION
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="basisSchema != null and basisSchema != ''">
				BASIS_SCHEMA_ID=#{basisSchema.id},
			</if>
			<if test="applicationName != null and applicationName != ''">
				APPLICATION_NAME=#{applicationName},
			</if>
			<if test="filterText != null and filterText != ''">
				FILTER_TEXT=#{filterText},
			</if>
			<if test="basisSubstanceType != null and basisSubstanceType != ''">
				BASIS_SUBSTANCE_TYPE_ID=#{basisSubstanceType.id},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="readonly != null and readonly != ''">
				READONLY=#{readonly},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
