<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="constantauth">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<sql id="selectId">
		DESCN AS descn,
		ID AS id,
		CREATE_TIME AS createTime,
		STATUS AS status,
		AUTH_TYPE AS authType,
		MODIFY_TIME AS modifyTime,
		CONSTANT_NAME AS constantName,
		DISP_INX AS displayIndex
	</sql>

	<select id="query" parameterType="java.util.HashMap" useCache="false"
		resultType="ConstantAuth">
		select
		<include refid="selectId" />
		from SYS_AUTH_CONSTANT
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.authType != null and t.authType != ''">
				and AUTH_TYPE = #{t.authType}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.constantName != null and t.constantName != ''">
				and CONSTANT_NAME = #{t.constantName}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="ConstantAuth"
		resultType="ConstantAuth">
		select
		<include refid="selectId" />
		from SYS_AUTH_CONSTANT
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="authType != null and authType != ''">
				and AUTH_TYPE = #{authType}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="constantName != null and constantName != ''">
				and CONSTANT_NAME = #{constantName}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<select id="getAll" resultType="ConstantAuth">
		select
		<include refid="selectId" />
		from SYS_AUTH_CONSTANT
	</select>

	<select id="count" parameterType="ConstantAuth" resultType="int">
		select count(0) from SYS_AUTH_CONSTANT
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="authType != null and authType != ''">
				and AUTH_TYPE = #{authType}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="constantName != null and constantName != ''">
				and CONSTANT_NAME = #{constantName}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="ConstantAuth">
		insert into SYS_AUTH_CONSTANT( DESCN, ID, CREATE_TIME, STATUS,
		AUTH_TYPE, MODIFY_TIME, CONSTANT_NAME, DISP_INX )values ( #{descn},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{status},
		#{authType},
		#{modifyTime},
		#{constantName},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from SYS_AUTH_CONSTANT where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultType="ConstantAuth">
		select
		<include refid="selectId" />
		from SYS_AUTH_CONSTANT where id=#{id}
	</select>
	
	<!-- 获取流程节点权限 -->
	<select id="getByBpmConfigNodeId" parameterType="String" resultType="ConstantAuth" flushCache="true">
		select
		<include refid="selectId" />
		from SYS_AUTH_CONSTANT where id in (SELECT AUTH_ID FROM BPM_CONF_AUTH where AUTH_TYPE='C' AND BPM_NODE_ID=#{bpmConfigNodeId})
		ORDER BY CONSTANT_NAME ASC
	</select>

	<update id="update" parameterType="ConstantAuth">
		update SYS_AUTH_CONSTANT
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="authType != null and authType != ''">
				AUTH_TYPE=#{authType},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="constantName != null and constantName != ''">
				CONSTANT_NAME=#{constantName},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
