<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fasexchangerate">
	<sql id="selectId">
		DESCN AS descn,
		START_TIME AS startTime,
		ID AS id,
		CREATE_TIME AS createTime,
		STATUS AS status,
		EXCHANGE_RATE AS exchangeRate,
		END_TIME AS endTime,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex,
		CURRENCY AS currency
	</sql>

	<select id="query" parameterType="java.util.HashMap" resultType="FasExchangeRate">
		select
		<include refid="selectId" />
		from FAS_EXCHANGE_RATE
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.startTime != null and t.startTime != ''">
				and START_TIME = #{t.startTime}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.exchangeRate != null and t.exchangeRate != ''">
				and EXCHANGE_RATE = #{t.exchangeRate}
			</if>
			<if test="t.endTime != null and t.endTime != ''">
				and END_TIME = #{t.endTime}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="t.currency != null and t.currency != ''">
				and CURRENCY = #{t.currency}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="FasExchangeRate"
		resultType="FasExchangeRate">
		select
		<include refid="selectId" />
		from FAS_EXCHANGE_RATE
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="startTime != null and startTime != ''">
				and START_TIME = #{startTime}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				and EXCHANGE_RATE = #{exchangeRate}
			</if>
			<if test="endTime != null and endTime != ''">
				and END_TIME = #{endTime}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
			<if test="currency != null and currency != ''">
				and CURRENCY = #{currency}
			</if>
		</where>
	</select>

	<select id="getAll" resultType="FasExchangeRate">
		select
		<include refid="selectId" />
		from FAS_EXCHANGE_RATE ORDER BY START_TIME DESC
	</select>

	<select id="count" parameterType="FasExchangeRate" resultType="int">
		select count(0) from FAS_EXCHANGE_RATE
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="startTime != null and startTime != ''">
				and START_TIME = #{startTime}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				and EXCHANGE_RATE = #{exchangeRate}
			</if>
			<if test="endTime != null and endTime != ''">
				and END_TIME = #{endTime}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
			<if test="currency != null and currency != ''">
				and CURRENCY = #{currency}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="FasExchangeRate">
		insert into FAS_EXCHANGE_RATE( DESCN, START_TIME, ID, CREATE_TIME,
		STATUS, EXCHANGE_RATE, END_TIME, MODIFY_TIME, DISP_INX, CURRENCY
		)values ( #{descn}, #{startTime},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{status},
		#{exchangeRate},
		#{endTime},
		#{modifyTime},
		#{displayIndex},
		#{currency}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from FAS_EXCHANGE_RATE where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultType="FasExchangeRate">
		select
		<include refid="selectId" />
		from FAS_EXCHANGE_RATE where id=#{id}
	</select>

	<update id="update" parameterType="FasExchangeRate">
		update FAS_EXCHANGE_RATE
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="startTime != null and startTime != ''">
				START_TIME=#{startTime},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				EXCHANGE_RATE=#{exchangeRate},
			</if>
			<if test="endTime != null and endTime != ''">
				END_TIME=#{endTime},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
			<if test="currency != null and currency != ''">
				CURRENCY=#{currency},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
