<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fasinvoicetype">
	<sql id="selectId">
		DESCN AS descn,
		TYPE_NAME AS typeName,
		ID AS id,
		CREATE_TIME AS createTime,
		TAX_RATE AS taxRate,
		STATUS AS status,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex
	</sql>

	<select id="query" parameterType="java.util.HashMap" resultType="FasInvoiceType">
		select
		<include refid="selectId" />
		from FAS_INVOICE_TYPE
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.typeName != null and t.typeName != ''">
				and TYPE_NAME = #{t.typeName}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.taxRate != null and t.taxRate != ''">
				and TAX_RATE = #{t.taxRate}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="FasInvoiceType"
		resultType="FasInvoiceType">
		select
		<include refid="selectId" />
		from FAS_INVOICE_TYPE
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="typeName != null and typeName != ''">
				and TYPE_NAME = #{typeName}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="taxRate != null and taxRate != ''">
				and TAX_RATE = #{taxRate}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<select id="getAll" resultType="FasInvoiceType">
		select
		<include refid="selectId" />
		from FAS_INVOICE_TYPE
	</select>

	<select id="count" parameterType="FasInvoiceType" resultType="int">
		select count(0) from FAS_INVOICE_TYPE
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="typeName != null and typeName != ''">
				and TYPE_NAME = #{typeName}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="taxRate != null and taxRate != ''">
				and TAX_RATE = #{taxRate}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="FasInvoiceType">
		insert into FAS_INVOICE_TYPE( DESCN, TYPE_NAME, ID, CREATE_TIME,
		TAX_RATE, STATUS, MODIFY_TIME, DISP_INX )values ( #{descn},
		#{typeName},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{taxRate},
		#{status},
		#{modifyTime},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from FAS_INVOICE_TYPE where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultType="FasInvoiceType">
		select
		<include refid="selectId" />
		from FAS_INVOICE_TYPE where id=#{id}
	</select>

	<update id="update" parameterType="FasInvoiceType">
		update FAS_INVOICE_TYPE
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="typeName != null and typeName != ''">
				TYPE_NAME=#{typeName},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="taxRate != null and taxRate != ''">
				TAX_RATE=#{taxRate},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
