<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freightmaintain">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<sql id="selectId">
		ID AS id,
		DESCN AS descn,
		STATUS AS status,
		CREATE_TIME AS createTime,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex,
		FRE_MAINTAIN_TYPE_ID,
		FRE_ORDER_ID,
		PARENT_MAINTAIN_ID
	</sql>
	
	<resultMap id="freightMaintainResult" type="com.van.halley.db.persistence.entity.FreightMaintain">
        <id property="id" column="ID" />
        <result property="descn" column="DESCN" />
        <result property="status" column="STATUS" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="modifyTime" column="MODIFY_TIME" />
        <result property="displayIndex" column="DISP_INX" />
        
        <association property="parentMaintain" column="PARENT_MAINTAIN_ID" select="freightmaintain.getById" ></association>
        <association property="freightOrder" column="FRE_ORDER_ID" select="freightorder.getById" ></association>
        <association property="freightMaintainType" column="FRE_MAINTAIN_TYPE_ID" select="freightmaintaintype.getById" ></association>
    </resultMap>
    

	<select id="query" parameterType="java.util.HashMap" resultMap="freightMaintainResult" useCache="false">
		select
		<include refid="selectId" />
		from FRE_MAINTAIN
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.freightOrder != null and t.freightOrder != ''">
				and FRE_ORDER_ID = #{t.freightOrder.id}
			</if>
			<if test="t.freightMaintainType != null and t.freightMaintainType != ''">
				and FRE_MAINTAIN_TYPE_ID = #{t.freightMaintainType.id}
			</if>
			<if test="t.parentMaintain != null and t.parentMaintain != ''">
				and PARENT_MAINTAIN_ID = #{t.parentMaintain.id}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="FreightMaintain" resultMap="freightMaintainResult">
		select
		<include refid="selectId" />
		from FRE_MAINTAIN
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="freightOrder != null and freightOrder != ''">
				and FRE_ORDER_ID = #{freightOrder.id}
			</if>
			<if test="freightMaintainType != null and freightMaintainType != ''">
				and FRE_MAINTAIN_TYPE_ID = #{freightMaintainType.id}
			</if>
			<if test="parentMaintain != null and parentMaintain != ''">
				and PARENT_MAINTAIN_ID = #{parentMaintain.id}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
			ORDER BY DISP_INX ASC
	</select>

	<select id="getAll" resultMap="freightMaintainResult">
		select
		<include refid="selectId" />
		from FRE_MAINTAIN ORDER BY DISP_INX ASC
	</select>

	<select id="count" parameterType="FreightMaintain" resultType="int">
		select count(0) from FRE_MAINTAIN
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.freightOrder != null and t.freightOrder != ''">
				and FRE_ORDER_ID = #{t.freightOrder.id}
			</if>
			<if test="t.freightMaintainType != null and t.freightMaintainType != ''">
				and FRE_MAINTAIN_TYPE_ID = #{t.freightMaintainType.id}
			</if>
			<if test="t.parentMaintain != null and t.parentMaintain != ''">
				and PARENT_MAINTAIN_ID = #{t.parentMaintain.id}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="FreightMaintain"> insert into FRE_MAINTAIN( DESCN,
		ID, CREATE_TIME, FRE_ORDER_ID, FRE_MAINTAIN_TYPE_ID, PARENT_MAINTAIN_ID, STATUS,
		MODIFY_TIME, DISP_INX )values ( #{descn}, 
		
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{freightOrder.id}, #{freightMaintainType.id}, #{parentMaintain.id}, #{status},
		#{modifyTime}, #{displayIndex} )
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from FRE_MAINTAIN where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultMap="freightMaintainResult">
		select
		<include refid="selectId" />
		from FRE_MAINTAIN where id=#{id}
	</select>

	<update id="update" parameterType="FreightMaintain">
		update FRE_MAINTAIN
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="freightOrder != null and freightOrder != ''">
				FRE_ORDER_ID=#{freightOrder.id},
			</if>
			<if test="freightMaintainType != null and freightMaintainType != ''">
				FRE_MAINTAIN_TYPE_ID = #{freightMaintainType.id},
			</if>
			<if test="parentMaintain != null and parentMaintain != ''">
				PARENT_MAINTAIN_ID=#{parentMaintain.id},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
