<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freightmaintainaction">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<sql id="selectId">
		DESCN AS descn,
		FRE_ACTION_TYPE_ID AS freightActionTypeId,
		ID AS id,
		CREATE_TIME AS createTime,
		FRE_MAINTAIN_TYPE_ID AS freightMaintainTypeId,
		STATUS AS status,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex
	</sql>

	<select id="query" parameterType="java.util.HashMap" resultType="FreightMaintainAction" useCache="false">
		select
		<include refid="selectId" />
		from FRE_MAINTAIN_ACTION
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.freightActionTypeId != null and t.freightActionTypeId != ''">
				and FRE_ACTION_TYPE_ID = #{t.freightActionTypeId}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if
				test="t.freightMaintainTypeId != null and t.freightMaintainTypeId != ''">
				and FRE_MAINTAIN_TYPE_ID = #{t.freightMaintainTypeId}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="FreightMaintainAction"
		resultType="FreightMaintainAction">
		select
		<include refid="selectId" />
		from FRE_MAINTAIN_ACTION
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="freightActionTypeId != null and freightActionTypeId != ''">
				and FRE_ACTION_TYPE_ID = #{freightActionTypeId}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="freightMaintainTypeId != null and freightMaintainTypeId != ''">
				and FRE_MAINTAIN_TYPE_ID = #{freightMaintainTypeId}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<select id="getAll" resultType="FreightMaintainAction">
		select
		<include refid="selectId" />
		from FRE_MAINTAIN_ACTION
	</select>

	<select id="count" parameterType="FreightMaintainAction"
		resultType="int">
		select count(0) from FRE_MAINTAIN_ACTION
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.freightActionTypeId != null and t.freightActionTypeId != ''">
				and FRE_ACTION_TYPE_ID = #{t.freightActionTypeId}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if
				test="t.freightMaintainTypeId != null and t.freightMaintainTypeId != ''">
				and FRE_MAINTAIN_TYPE_ID = #{t.freightMaintainTypeId}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="FreightMaintainAction">
		insert into FRE_MAINTAIN_ACTION( DESCN, FRE_ACTION_TYPE_ID, ID,
		CREATE_TIME, FRE_MAINTAIN_TYPE_ID, STATUS, MODIFY_TIME, DISP_INX )values (
		#{descn}, #{freightActionTypeId},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{freightMaintainTypeId},
		#{status},
		#{modifyTime},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from FRE_MAINTAIN_ACTION where id=#{id}
	</delete>
	
	
	<delete id="deleteByMaintainAndAction" parameterType="FreightMaintainAction">
		delete from FRE_MAINTAIN_ACTION where FRE_MAINTAIN_TYPE_ID=#{freightMaintainTypeId} AND FRE_ACTION_TYPE_ID=#{freightActionTypeId}
	</delete>

	<select id="getById" parameterType="String" resultType="FreightMaintainAction">
		select
		<include refid="selectId" />
		from FRE_MAINTAIN_ACTION where id=#{id}
	</select>

	<update id="update" parameterType="FreightMaintainAction">
		update FRE_MAINTAIN_ACTION
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="freightActionTypeId != null and freightActionTypeId != ''">
				FRE_ACTION_TYPE_ID=#{freightActionTypeId},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="freightMaintainTypeId != null and freightMaintainTypeId != ''">
				FRE_MAINTAIN_TYPE_ID=#{freightMaintainTypeId},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
