<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freightauditrecord">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<sql id="selectId">
		DESCN AS descn,
		ID AS id,
		CREATE_TIME AS createTime,
		STATUS AS status,
		USER_ID AS executor,
		TARGET_ID AS targetId,
		SOURCE_STATUS AS sourceStatus,
		TARGET_STATUS AS targetStatus,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex
	</sql>
	
	<resultMap id="freightAuditRecordMap" type="com.van.halley.db.persistence.entity.FreightAuditRecord">
        <id property="id" column="ID" />
        <result property="targetId" column="TARGET_ID" />
        <result property="sourceStatus" column="SOURCE_STATUS" />
        <result property="targetStatus" column="TARGET_STATUS" />
        
        <result property="descn" column="DESCN" />
        <result property="status" column="STATUS" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="modifyTime" column="MODIFY_TIME" />
        <result property="displayIndex" column="DISP_INX" />
        
        <association property="executor" column="USER_ID" select="user.getById" ></association>
    </resultMap>

	<select id="query" parameterType="java.util.HashMap" resultMap="freightAuditRecordMap" useCache="false">
		select
		<include refid="selectId" />
		from FRE_AUDIT_RECORD
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.executor != null and t.executor != ''">
				and USER_ID = #{t.executor.id}
			</if>
			<if test="t.targetId != null and t.targetId != ''">
				and TARGET_ID = #{t.targetId}
			</if>
			<if test="t.sourceStatus != null and t.sourceStatus != ''">
				and SOURCE_STATUS = #{t.sourceStatus}
			</if>
			<if test="t.targetStatus != null and t.targetStatus != ''">
				and TARGET_STATUS = #{t.targetStatus}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="FreightAuditRecord"
		resultMap="freightAuditRecordMap">
		select
		<include refid="selectId" />
		from FRE_AUDIT_RECORD
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="executor != null and executor != ''">
				and USER_ID = #{executor.id}
			</if>
			<if test="targetId != null and targetId != ''">
				and TARGET_ID = #{targetId}
			</if>
			<if test="sourceStatus != null and sourceStatus != ''">
				and SOURCE_STATUS = #{sourceStatus}
			</if>
			<if test="targetStatus != null and targetStatus != ''">
				and TARGET_STATUS = #{targetStatus}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<select id="getAll" resultMap="freightAuditRecordMap">
		select
		<include refid="selectId" />
		from FRE_AUDIT_RECORD
	</select>

	<select id="count" parameterType="FreightAuditRecord"
		resultType="int">
		select count(0) from FRE_AUDIT_RECORD
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="executor != null and executor != ''">
				and USER_ID = #{executor.id}
			</if>
			<if test="targetId != null and targetId != ''">
				and TARGET_ID = #{targetId}
			</if>
			<if test="sourceStatus != null and sourceStatus != ''">
				and SOURCE_STATUS = #{sourceStatus}
			</if>
			<if test="targetStatus != null and targetStatus != ''">
				and TARGET_STATUS = #{targetStatus}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="FreightAuditRecord">
		insert into FRE_AUDIT_RECORD( DESCN, ID, CREATE_TIME, STATUS, USER_ID,
		TARGET_ID, SOURCE_STATUS, TARGET_STATUS, MODIFY_TIME, DISP_INX )values
		( #{descn},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{status},
		#{executor.id},
		#{targetId},
		#{sourceStatus},
		#{targetStatus},
		#{modifyTime},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from FRE_AUDIT_RECORD where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultMap="freightAuditRecordMap">
		select
		<include refid="selectId" />
		from FRE_AUDIT_RECORD where id=#{id}
	</select>
	
	<select id="getFreightAuditRecordProximate" parameterType="String" resultMap="freightAuditRecordMap">
		select
		<include refid="selectId" />
		from FRE_AUDIT_RECORD where TARGET_ID=#{targetId} ORDER BY CREATE_TIME DESC LIMIT 1
	</select>

	<update id="update" parameterType="FreightAuditRecord">
		update FRE_AUDIT_RECORD
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="executor != null and executor != ''">
				USER_ID=#{executor.id},
			</if>
			<if test="targetId != null and targetId != ''">
				TARGET_ID=#{targetId},
			</if>
			<if test="sourceStatus != null and sourceStatus != ''">
				SOURCE_STATUS=#{sourceStatus},
			</if>
			<if test="targetStatus != null and targetStatus != ''">
				TARGET_STATUS=#{targetStatus},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
