<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="freightdatatemplateactionvalue"> 
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
<sql id="selectId"> 
DESCN AS descn,
ID AS id,
CREATE_TIME AS createTime,
FRE_DATA_TEMPLATE_ID AS freightDataTemplateId,
STATUS AS status,
FRE_ACTION_VALUE_ID AS freightActionValueId,
MODIFY_TIME AS modifyTime,
DISP_INX AS displayIndex
</sql>

<select id="query" parameterType="java.util.HashMap" useCache="false" resultType="FreightDataTemplateActionValue" > 
select 
<include refid="selectId" /> 
from FRE_DATA_TEMPLATE_ACTION_VALUE
<where>
<if test="t.descn != null and t.descn != ''">
and DESCN = #{t.descn}
</if>
<if test="t.id != null and t.id != ''">
and ID = #{t.id}
</if>
<if test="t.createTime != null and t.createTime != ''">
and CREATE_TIME = #{t.createTime}
</if>
<if test="t.freightDataTemplateId != null and t.freightDataTemplateId != ''">
and FRE_DATA_TEMPLATE_ID = #{t.freightDataTemplateId}
</if>
<if test="t.status != null and t.status != ''">
and STATUS = #{t.status}
</if>
<if test="t.freightActionValueId != null and t.freightActionValueId != ''">
and FRE_ACTION_VALUE_ID = #{t.freightActionValueId}
</if>
<if test="t.modifyTime != null and t.modifyTime != ''">
and MODIFY_TIME = #{t.modifyTime}
</if>
<if test="t.displayIndex != null and t.displayIndex != ''">
and DISP_INX = #{t.displayIndex}
</if>
<if test="pageView.filterText != null and pageView.filterText != ''">
and ${pageView.filterText}
</if>
</where>
<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
<if test="pageView.orderBy != null and pageView.orderBy != ''">
order by ${pageView.orderBy}
<if test="pageView.order != null and pageView.order != ''">
<if test="pageView.order == 'ASC'">
ASC
</if>
<if test="pageView.order == 'DESC'">
DESC
</if>
</if>
</if>
</select>

<select id="queryForList" parameterType="FreightDataTemplateActionValue" resultType="FreightDataTemplateActionValue">
select
<include refid="selectId" />
from FRE_DATA_TEMPLATE_ACTION_VALUE
<where>
<if test="descn != null and descn != ''">
and DESCN = #{descn}
</if>
<if test="id != null and id != ''">
and ID = #{id}
</if>
<if test="createTime != null and createTime != ''">
and CREATE_TIME = #{createTime}
</if>
<if test="freightDataTemplateId != null and freightDataTemplateId != ''">
and FRE_DATA_TEMPLATE_ID = #{freightDataTemplateId}
</if>
<if test="status != null and status != ''">
and STATUS = #{status}
</if>
<if test="freightActionValueId != null and freightActionValueId != ''">
and FRE_ACTION_VALUE_ID = #{freightActionValueId}
</if>
<if test="modifyTime != null and modifyTime != ''">
and MODIFY_TIME = #{modifyTime}
</if>
<if test="displayIndex != null and displayIndex != ''">
and DISP_INX = #{displayIndex}
</if>
</where>
</select>

<select id="getAll" resultType="FreightDataTemplateActionValue">
select
<include refid="selectId" />
from FRE_DATA_TEMPLATE_ACTION_VALUE
</select>

<select id="count" parameterType="FreightDataTemplateActionValue" resultType="int">
select count(0) from FRE_DATA_TEMPLATE_ACTION_VALUE
<where>
<if test="descn != null and descn != ''">
and DESCN = #{descn}
</if>
<if test="id != null and id != ''">
and ID = #{id}
</if>
<if test="createTime != null and createTime != ''">
and CREATE_TIME = #{createTime}
</if>
<if test="freightDataTemplateId != null and freightDataTemplateId != ''">
and FRE_DATA_TEMPLATE_ID = #{freightDataTemplateId}
</if>
<if test="status != null and status != ''">
and STATUS = #{status}
</if>
<if test="freightActionValueId != null and freightActionValueId != ''">
and FRE_ACTION_VALUE_ID = #{freightActionValueId}
</if>
<if test="modifyTime != null and modifyTime != ''">
and MODIFY_TIME = #{modifyTime}
</if>
<if test="displayIndex != null and displayIndex != ''">
and DISP_INX = #{displayIndex}
</if>
</where>
</select>

<insert id="add" parameterType="FreightDataTemplateActionValue">
insert into FRE_DATA_TEMPLATE_ACTION_VALUE(
DESCN,
ID,
CREATE_TIME,
FRE_DATA_TEMPLATE_ID,
STATUS,
FRE_ACTION_VALUE_ID,
MODIFY_TIME,
DISP_INX
)values (
#{descn},
<if test="id != null and id != '' ">
#{id},
</if>
<if test="id == null or id == '' ">
UUID(),
</if>
#{createTime},
#{freightDataTemplateId},
#{status},
#{freightActionValueId},
#{modifyTime},
#{displayIndex}
)
</insert>

<delete id="deleteById" parameterType="String">
delete from FRE_DATA_TEMPLATE_ACTION_VALUE where id=#{id}
</delete>

<select id="getById" parameterType="String" resultType="FreightDataTemplateActionValue">
select <include refid="selectId" />
from FRE_DATA_TEMPLATE_ACTION_VALUE where id=#{id}
</select>

<update id="update" parameterType="FreightDataTemplateActionValue">
update FRE_DATA_TEMPLATE_ACTION_VALUE
<set>
<if test="descn != null and descn != ''">
DESCN=#{descn},
</if>
<if test="id != null and id != ''">
ID=#{id},
</if>
<if test="createTime != null and createTime != ''">
CREATE_TIME=#{createTime},
</if>
<if test="freightDataTemplateId != null and freightDataTemplateId != ''">
FRE_DATA_TEMPLATE_ID=#{freightDataTemplateId},
</if>
<if test="status != null and status != ''">
STATUS=#{status},
</if>
<if test="freightActionValueId != null and freightActionValueId != ''">
FRE_ACTION_VALUE_ID=#{freightActionValueId},
</if>
<if test="modifyTime != null and modifyTime != ''">
MODIFY_TIME=#{modifyTime},
</if>
<if test="displayIndex != null and displayIndex != ''">
DISP_INX=#{displayIndex},
</if>
</set>
where id=#{id}
</update>
</mapper>
