<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="itemsubstance"> 
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
<sql id="selectId"> 
ITEM_NUMBER AS itemNumber,
ITEM_NAME AS itemName,
MODIFY_TIME AS modifyTime,
CREATE_TIME AS createTime,
ITEM_MODEL AS itemModel,
ITEM_SUPPLIER_ID AS itemSupplierId,
ITEM_CATEGORY_ID AS itemCategoryId,
ID AS id,
ITEM_MFRS_ID AS itemManufacturerId,
DESCN AS descn,
DISP_INX AS displayIndex,
STATUS AS status
</sql>

<select id="query" parameterType="java.util.HashMap" useCache="false" resultType="ItemSubstance" > 
select 
<include refid="selectId" /> 
 from ITEM_SUBSTANCE
<where>
<if test="t.itemNumber != null and t.itemNumber != ''">
and ITEM_NUMBER = #{t.itemNumber}
</if>
<if test="t.itemName != null and t.itemName != ''">
and ITEM_NAME = #{t.itemName}
</if>
<if test="t.modifyTime != null and t.modifyTime != ''">
and MODIFY_TIME = #{t.modifyTime}
</if>
<if test="t.createTime != null and t.createTime != ''">
and CREATE_TIME = #{t.createTime}
</if>
<if test="t.itemModel != null and t.itemModel != ''">
and ITEM_MODEL = #{t.itemModel}
</if>
<if test="t.itemSupplierId != null and t.itemSupplierId != ''">
and ITEM_SUPPLIER_ID = #{t.itemSupplierId}
</if>
<if test="t.itemCategoryId != null and t.itemCategoryId != ''">
and ITEM_CATEGORY_ID = #{t.itemCategoryId}
</if>
<if test="t.id != null and t.id != ''">
and ID = #{t.id}
</if>
<if test="t.itemManufacturerId != null and t.itemManufacturerId != ''">
and ITEM_MFRS_ID = #{t.itemManufacturerId}
</if>
<if test="t.descn != null and t.descn != ''">
and DESCN = #{t.descn}
</if>
<if test="t.displayIndex != null and t.displayIndex != ''">
and DISP_INX = #{t.displayIndex}
</if>
<if test="t.status != null and t.status != ''">
and STATUS = #{t.status}
</if>
<if test="pageView.filterText != null and pageView.filterText != ''">
and ${pageView.filterText}
</if>
</where>
<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
<if test="pageView.orderBy != null and pageView.orderBy != ''">
order by ${pageView.orderBy}
<if test="pageView.order != null and pageView.order != ''">
<if test="pageView.order == 'ASC'">
ASC
</if>
<if test="pageView.order == 'DESC'">
DESC
</if>
</if>
</if>
</select>

<select id="queryForList" parameterType="ItemSubstance" resultType="ItemSubstance">
select
<include refid="selectId" />
from ITEM_SUBSTANCE
<where>
<if test="itemNumber != null and itemNumber != ''">
and ITEM_NUMBER = #{itemNumber}
</if>
<if test="itemName != null and itemName != ''">
and ITEM_NAME = #{itemName}
</if>
<if test="modifyTime != null and modifyTime != ''">
and MODIFY_TIME = #{modifyTime}
</if>
<if test="createTime != null and createTime != ''">
and CREATE_TIME = #{createTime}
</if>
<if test="itemModel != null and itemModel != ''">
and ITEM_MODEL = #{itemModel}
</if>
<if test="itemSupplierId != null and itemSupplierId != ''">
and ITEM_SUPPLIER_ID = #{itemSupplierId}
</if>
<if test="itemCategoryId != null and itemCategoryId != ''">
and ITEM_CATEGORY_ID = #{itemCategoryId}
</if>
<if test="id != null and id != ''">
and ID = #{id}
</if>
<if test="itemManufacturerId != null and itemManufacturerId != ''">
and ITEM_MFRS_ID = #{itemManufacturerId}
</if>
<if test="descn != null and descn != ''">
and DESCN = #{descn}
</if>
<if test="displayIndex != null and displayIndex != ''">
and DISP_INX = #{displayIndex}
</if>
<if test="status != null and status != ''">
and STATUS = #{status}
</if>
</where>
</select>

<select id="getAll" resultType="ItemSubstance">
select
<include refid="selectId" />
from ITEM_SUBSTANCE
</select>

<select id="count" parameterType="ItemSubstance" resultType="int">
select count(0) from ITEM_SUBSTANCE
<where>
<if test="itemNumber != null and itemNumber != ''">
and ITEM_NUMBER = #{itemNumber}
</if>
<if test="itemName != null and itemName != ''">
and ITEM_NAME = #{itemName}
</if>
<if test="modifyTime != null and modifyTime != ''">
and MODIFY_TIME = #{modifyTime}
</if>
<if test="createTime != null and createTime != ''">
and CREATE_TIME = #{createTime}
</if>
<if test="itemModel != null and itemModel != ''">
and ITEM_MODEL = #{itemModel}
</if>
<if test="itemSupplierId != null and itemSupplierId != ''">
and ITEM_SUPPLIER_ID = #{itemSupplierId}
</if>
<if test="itemCategoryId != null and itemCategoryId != ''">
and ITEM_CATEGORY_ID = #{itemCategoryId}
</if>
<if test="id != null and id != ''">
and ID = #{id}
</if>
<if test="itemManufacturerId != null and itemManufacturerId != ''">
and ITEM_MFRS_ID = #{itemManufacturerId}
</if>
<if test="descn != null and descn != ''">
and DESCN = #{descn}
</if>
<if test="displayIndex != null and displayIndex != ''">
and DISP_INX = #{displayIndex}
</if>
<if test="status != null and status != ''">
and STATUS = #{status}
</if>
</where>
</select>

<insert id="add" parameterType="ItemSubstance">
insert into ITEM_SUBSTANCE(
ITEM_NUMBER,
ITEM_NAME,
MODIFY_TIME,
CREATE_TIME,
ITEM_MODEL,
ITEM_SUPPLIER_ID,
ITEM_CATEGORY_ID,
ID,
ITEM_MFRS_ID,
DESCN,
DISP_INX,
STATUS
)values (
#{itemNumber},
#{itemName},
#{modifyTime},
#{createTime},
#{itemModel},
#{itemSupplierId},
#{itemCategoryId},
<if test="id != null and id != '' ">
#{id},
</if>
<if test="id == null or id == '' ">
UUID(),
</if>
#{itemManufacturerId},
#{descn},
#{displayIndex},
#{status}
)
</insert>

<delete id="deleteById" parameterType="String">
delete from ITEM_SUBSTANCE where id=#{id}
</delete>

<select id="getById" parameterType="String" resultType="ItemSubstance">
select <include refid="selectId" />
from ITEM_SUBSTANCE where id=#{id}
</select>

<update id="update" parameterType="ItemSubstance">
update ITEM_SUBSTANCE
<set>
<if test="itemNumber != null and itemNumber != ''">
ITEM_NUMBER=#{itemNumber},
</if>
<if test="itemName != null and itemName != ''">
ITEM_NAME=#{itemName},
</if>
MODIFY_TIME=SYSDATE(),
<if test="createTime != null and createTime != ''">
CREATE_TIME=#{createTime},
</if>
<if test="itemModel != null and itemModel != ''">
ITEM_MODEL=#{itemModel},
</if>
<if test="itemSupplierId != null and itemSupplierId != ''">
ITEM_SUPPLIER_ID=#{itemSupplierId},
</if>
<if test="itemCategoryId != null and itemCategoryId != ''">
ITEM_CATEGORY_ID=#{itemCategoryId},
</if>
<if test="itemManufacturerId != null and itemManufacturerId != ''">
ITEM_MFRS_ID=#{itemManufacturerId},
</if>
<if test="descn != null and descn != ''">
DESCN=#{descn},
</if>
<if test="displayIndex != null and displayIndex != ''">
DISP_INX=#{displayIndex},
</if>
<if test="status != null and status != ''">
STATUS=#{status},
</if>
</set>
WHERE ID=#{id} AND MODIFY_TIME=#{modifyTime} 
</update>

<delete id="deleteBatch" parameterType="java.util.List">
delete from ITEM_SUBSTANCE where ID IN 
<foreach collection="list"  item="t" index="index" open="(" separator="," close=")" >
#{t.id}
</foreach>
</delete>

<update id="updateBatch" parameterType="java.util.List">
<foreach collection="list" item="t" index="index" open="" close="" separator=";">
update ITEM_SUBSTANCE
<set>
<if test="t.itemNumber != null and t.itemNumber != ''">
ITEM_NUMBER=#{t.itemNumber},
</if>
<if test="t.itemName != null and t.itemName != ''">
ITEM_NAME=#{t.itemName},
</if>
MODIFY_TIME=SYSDATE(),
<if test="t.createTime != null and t.createTime != ''">
CREATE_TIME=#{t.createTime},
</if>
<if test="t.itemModel != null and t.itemModel != ''">
ITEM_MODEL=#{t.itemModel},
</if>
<if test="t.itemSupplierId != null and t.itemSupplierId != ''">
ITEM_SUPPLIER_ID=#{t.itemSupplierId},
</if>
<if test="t.itemCategoryId != null and t.itemCategoryId != ''">
ITEM_CATEGORY_ID=#{t.itemCategoryId},
</if>
<if test="t.itemManufacturerId != null and t.itemManufacturerId != ''">
ITEM_MFRS_ID=#{t.itemManufacturerId},
</if>
<if test="t.descn != null and t.descn != ''">
DESCN=#{t.descn},
</if>
<if test="t.displayIndex != null and t.displayIndex != ''">
DISP_INX=#{t.displayIndex},
</if>
<if test="t.status != null and t.status != ''">
STATUS=#{t.status},
</if>
</set>
WHERE ID=#{t.id} AND MODIFY_TIME=#{modifyTime} 
</foreach>
</update>

<insert id="insertBatch" parameterType="java.util.List">
insert into ITEM_SUBSTANCE(
ITEM_NUMBER,
ITEM_NAME,
MODIFY_TIME,
CREATE_TIME,
ITEM_MODEL,
ITEM_SUPPLIER_ID,
ITEM_CATEGORY_ID,
ID,
ITEM_MFRS_ID,
DESCN,
DISP_INX,
STATUS
)values<foreach collection="list" item="t" index="index" separator=",">
(
#{t.itemNumber},
#{t.itemName},
#{t.modifyTime},
#{t.createTime},
#{t.itemModel},
#{t.itemSupplierId},
#{t.itemCategoryId},
<if test="t.id != null and t.id != '' ">
#{t.id},
</if>
<if test="t.id == null or t.id == '' ">
UUID(),
</if>
#{t.itemManufacturerId},
#{t.descn},
#{t.displayIndex},
#{t.status}
)
</foreach>
</insert>
</mapper>
