<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="itemattribute"> 
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
<sql id="selectId"> 
IS_REQUIRED AS isRequired,
VATTR_ID AS vAttrId,
ATTR_COLUMN AS attributeColumn,
ITEM_CATEGORY_ID AS itemCategoryId,
DESCN AS descn,
MODIFY_TIME AS modifyTime,
CREATE_TIME AS createTime,
ATTR_TYPE AS attributeType,
IS_SELECTED AS isSelected,
ATTR_NAME AS attributeName,
ID AS id,
DISP_INX AS displayIndex,
STATUS AS status
</sql>

<select id="query" parameterType="java.util.HashMap" useCache="false" resultType="ItemAttribute" > 
select 
<include refid="selectId" /> 
 from ITEM_ATTRIBUTE
<where>
<if test="t.isRequired != null and t.isRequired != ''">
and IS_REQUIRED = #{t.isRequired}
</if>
<if test="t.vAttrId != null and t.vAttrId != ''">
and VATTR_ID = #{t.vAttrId}
</if>
<if test="t.attributeColumn != null and t.attributeColumn != ''">
and ATTR_COLUMN = #{t.attributeColumn}
</if>
<if test="t.itemCategoryId != null and t.itemCategoryId != ''">
and ITEM_CATEGORY_ID = #{t.itemCategoryId}
</if>
<if test="t.descn != null and t.descn != ''">
and DESCN = #{t.descn}
</if>
<if test="t.modifyTime != null and t.modifyTime != ''">
and MODIFY_TIME = #{t.modifyTime}
</if>
<if test="t.createTime != null and t.createTime != ''">
and CREATE_TIME = #{t.createTime}
</if>
<if test="t.attributeType != null and t.attributeType != ''">
and ATTR_TYPE = #{t.attributeType}
</if>
<if test="t.isSelected != null and t.isSelected != ''">
and IS_SELECTED = #{t.isSelected}
</if>
<if test="t.attributeName != null and t.attributeName != ''">
and ATTR_NAME = #{t.attributeName}
</if>
<if test="t.id != null and t.id != ''">
and ID = #{t.id}
</if>
<if test="t.displayIndex != null and t.displayIndex != ''">
and DISP_INX = #{t.displayIndex}
</if>
<if test="t.status != null and t.status != ''">
and STATUS = #{t.status}
</if>
<if test="pageView.filterText != null and pageView.filterText != ''">
and ${pageView.filterText}
</if>
</where>
<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
<if test="pageView.orderBy != null and pageView.orderBy != ''">
order by ${pageView.orderBy}
<if test="pageView.order != null and pageView.order != ''">
<if test="pageView.order == 'ASC'">
ASC
</if>
<if test="pageView.order == 'DESC'">
DESC
</if>
</if>
</if>
</select>

<select id="queryForList" parameterType="ItemAttribute" resultType="ItemAttribute">
select
<include refid="selectId" />
from ITEM_ATTRIBUTE
<where>
<if test="isRequired != null and isRequired != ''">
and IS_REQUIRED = #{isRequired}
</if>
<if test="vAttrId != null and vAttrId != ''">
and VATTR_ID = #{vAttrId}
</if>
<if test="attributeColumn != null and attributeColumn != ''">
and ATTR_COLUMN = #{attributeColumn}
</if>
<if test="itemCategoryId != null and itemCategoryId != ''">
and ITEM_CATEGORY_ID = #{itemCategoryId}
</if>
<if test="descn != null and descn != ''">
and DESCN = #{descn}
</if>
<if test="modifyTime != null and modifyTime != ''">
and MODIFY_TIME = #{modifyTime}
</if>
<if test="createTime != null and createTime != ''">
and CREATE_TIME = #{createTime}
</if>
<if test="attributeType != null and attributeType != ''">
and ATTR_TYPE = #{attributeType}
</if>
<if test="isSelected != null and isSelected != ''">
and IS_SELECTED = #{isSelected}
</if>
<if test="attributeName != null and attributeName != ''">
and ATTR_NAME = #{attributeName}
</if>
<if test="id != null and id != ''">
and ID = #{id}
</if>
<if test="displayIndex != null and displayIndex != ''">
and DISP_INX = #{displayIndex}
</if>
<if test="status != null and status != ''">
and STATUS = #{status}
</if>
</where>
</select>

<select id="getAll" resultType="ItemAttribute">
select
<include refid="selectId" />
from ITEM_ATTRIBUTE
</select>

<select id="count" parameterType="ItemAttribute" resultType="int">
select count(0) from ITEM_ATTRIBUTE
<where>
<if test="isRequired != null and isRequired != ''">
and IS_REQUIRED = #{isRequired}
</if>
<if test="vAttrId != null and vAttrId != ''">
and VATTR_ID = #{vAttrId}
</if>
<if test="attributeColumn != null and attributeColumn != ''">
and ATTR_COLUMN = #{attributeColumn}
</if>
<if test="itemCategoryId != null and itemCategoryId != ''">
and ITEM_CATEGORY_ID = #{itemCategoryId}
</if>
<if test="descn != null and descn != ''">
and DESCN = #{descn}
</if>
<if test="modifyTime != null and modifyTime != ''">
and MODIFY_TIME = #{modifyTime}
</if>
<if test="createTime != null and createTime != ''">
and CREATE_TIME = #{createTime}
</if>
<if test="attributeType != null and attributeType != ''">
and ATTR_TYPE = #{attributeType}
</if>
<if test="isSelected != null and isSelected != ''">
and IS_SELECTED = #{isSelected}
</if>
<if test="attributeName != null and attributeName != ''">
and ATTR_NAME = #{attributeName}
</if>
<if test="id != null and id != ''">
and ID = #{id}
</if>
<if test="displayIndex != null and displayIndex != ''">
and DISP_INX = #{displayIndex}
</if>
<if test="status != null and status != ''">
and STATUS = #{status}
</if>
</where>
</select>

<insert id="add" parameterType="ItemAttribute">
insert into ITEM_ATTRIBUTE(
IS_REQUIRED,
VATTR_ID,
ATTR_COLUMN,
ITEM_CATEGORY_ID,
DESCN,
MODIFY_TIME,
CREATE_TIME,
ATTR_TYPE,
IS_SELECTED,
ATTR_NAME,
ID,
DISP_INX,
STATUS
)values (
#{isRequired},
#{vAttrId},
#{attributeColumn},
#{itemCategoryId},
#{descn},
#{modifyTime},
#{createTime},
#{attributeType},
#{isSelected},
#{attributeName},
<if test="id != null and id != '' ">
#{id},
</if>
<if test="id == null or id == '' ">
UUID(),
</if>
#{displayIndex},
#{status}
)
</insert>

<delete id="deleteById" parameterType="String">
delete from ITEM_ATTRIBUTE where id=#{id}
</delete>

<select id="getById" parameterType="String" resultType="ItemAttribute">
select <include refid="selectId" />
from ITEM_ATTRIBUTE where id=#{id}
</select>

<update id="update" parameterType="ItemAttribute">
update ITEM_ATTRIBUTE
<set>
<if test="isRequired != null and isRequired != ''">
IS_REQUIRED=#{isRequired},
</if>
<if test="vAttrId != null and vAttrId != ''">
VATTR_ID=#{vAttrId},
</if>
<if test="attributeColumn != null and attributeColumn != ''">
ATTR_COLUMN=#{attributeColumn},
</if>
<if test="itemCategoryId != null and itemCategoryId != ''">
ITEM_CATEGORY_ID=#{itemCategoryId},
</if>
<if test="descn != null and descn != ''">
DESCN=#{descn},
</if>
MODIFY_TIME=SYSDATE(),
<if test="createTime != null and createTime != ''">
CREATE_TIME=#{createTime},
</if>
<if test="attributeType != null and attributeType != ''">
ATTR_TYPE=#{attributeType},
</if>
<if test="isSelected != null and isSelected != ''">
IS_SELECTED=#{isSelected},
</if>
<if test="attributeName != null and attributeName != ''">
ATTR_NAME=#{attributeName},
</if>
<if test="displayIndex != null and displayIndex != ''">
DISP_INX=#{displayIndex},
</if>
<if test="status != null and status != ''">
STATUS=#{status},
</if>
</set>
WHERE ID=#{id} AND MODIFY_TIME=#{modifyTime} 
</update>

<delete id="deleteBatch" parameterType="java.util.List">
delete from ITEM_ATTRIBUTE where ID IN 
<foreach collection="list"  item="t" index="index" open="(" separator="," close=")" >
#{t.id}
</foreach>
</delete>

<update id="updateBatch" parameterType="java.util.List">
<foreach collection="list" item="t" index="index" open="" close="" separator=";">
update ITEM_ATTRIBUTE
<set>
<if test="t.isRequired != null and t.isRequired != ''">
IS_REQUIRED=#{t.isRequired},
</if>
<if test="t.vAttrId != null and t.vAttrId != ''">
VATTR_ID=#{t.vAttrId},
</if>
<if test="t.attributeColumn != null and t.attributeColumn != ''">
ATTR_COLUMN=#{t.attributeColumn},
</if>
<if test="t.itemCategoryId != null and t.itemCategoryId != ''">
ITEM_CATEGORY_ID=#{t.itemCategoryId},
</if>
<if test="t.descn != null and t.descn != ''">
DESCN=#{t.descn},
</if>
MODIFY_TIME=SYSDATE(),
<if test="t.createTime != null and t.createTime != ''">
CREATE_TIME=#{t.createTime},
</if>
<if test="t.attributeType != null and t.attributeType != ''">
ATTR_TYPE=#{t.attributeType},
</if>
<if test="t.isSelected != null and t.isSelected != ''">
IS_SELECTED=#{t.isSelected},
</if>
<if test="t.attributeName != null and t.attributeName != ''">
ATTR_NAME=#{t.attributeName},
</if>
<if test="t.displayIndex != null and t.displayIndex != ''">
DISP_INX=#{t.displayIndex},
</if>
<if test="t.status != null and t.status != ''">
STATUS=#{t.status},
</if>
</set>
WHERE ID=#{t.id} AND MODIFY_TIME=#{modifyTime} 
</foreach>
</update>

<insert id="insertBatch" parameterType="java.util.List">
insert into ITEM_ATTRIBUTE(
IS_REQUIRED,
VATTR_ID,
ATTR_COLUMN,
ITEM_CATEGORY_ID,
DESCN,
MODIFY_TIME,
CREATE_TIME,
ATTR_TYPE,
IS_SELECTED,
ATTR_NAME,
ID,
DISP_INX,
STATUS
)values<foreach collection="list" item="t" index="index" separator=",">
(
#{t.isRequired},
#{t.vAttrId},
#{t.attributeColumn},
#{t.itemCategoryId},
#{t.descn},
#{t.modifyTime},
#{t.createTime},
#{t.attributeType},
#{t.isSelected},
#{t.attributeName},
<if test="t.id != null and t.id != '' ">
#{t.id},
</if>
<if test="t.id == null or t.id == '' ">
UUID(),
</if>
#{t.displayIndex},
#{t.status}
)
</foreach>
</insert>
</mapper>
