<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="motorcadeinsurance">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<sql id="selectId">
		CREATE_TIME AS createTime,
		STATUS AS status,
		EXCHANGE_RATE AS exchangeRate,
		END_TIME AS endTime,
		PURCHASE_TIME AS purchaseTime,
		CURRENCY AS currency,
		ID AS id,
		START_TIME AS startTime,
		DESCN AS descn,
		INSURANCE_COMPANY AS insuranceCompany,
		MONEY_COUNT AS moneyCount,
		INSURANCE_TYPE AS insuranceType,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex,
		
		FAS_INVOICE_TYPE_ID,
		MOTOR_TRUCK_ID
	</sql>
	
	<resultMap id="motorcadeInsuranceMap" type="com.van.halley.db.persistence.entity.MotorcadeInsurance" >
        <id property="id" column="ID" />
        <result property="insuranceType" column="INSURANCE_TYPE" />
        <result property="insuranceCompany" column="INSURANCE_COMPANY" />
        <result property="startTime" column="START_TIME" />
        <result property="endTime" column="END_TIME" />
        <result property="purchaseTime" column="PURCHASE_TIME" />
        
        <result property="currency" column="CURRENCY" />
        <result property="exchangeRate" column="EXCHANGE_RATE" />
        <result property="moneyCount" column="MONEY_COUNT" />
        
        <result property="descn" column="DESCN" />
        <result property="status" column="STATUS" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="modifyTime" column="MODIFY_TIME" />
        <result property="displayIndex" column="DISP_INX" />
        
        <association property="fasInvoiceType" column="FAS_INVOICE_TYPE_ID" select="fasinvoicetype.getById" ></association>
        <association property="motorcadeTruck" column="MOTOR_TRUCK_ID" select="motorcadetruck.getById" ></association>
    </resultMap>

	<select id="query" parameterType="java.util.HashMap" useCache="false"
		resultMap="motorcadeInsuranceMap">
		select
		<include refid="selectId" />
		from MOTOR_INSURANCE
		<where>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.exchangeRate != null and t.exchangeRate != ''">
				and EXCHANGE_RATE = #{t.exchangeRate}
			</if>
			<if test="t.endTime != null and t.endTime != ''">
				and END_TIME = #{t.endTime}
			</if>
			<if test="t.purchaseTime != null and t.purchaseTime != ''">
				and PURCHASE_TIME = #{t.purchaseTime}
			</if>
			<if test="t.currency != null and t.currency != ''">
				and CURRENCY = #{t.currency}
			</if>
			<if test="t.fasInvoiceType != null and t.fasInvoiceType != ''">
				and FAS_INVOICE_TYPE_ID = #{t.fasInvoiceType.id}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.startTime != null and t.startTime != ''">
				and START_TIME = #{t.startTime}
			</if>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.insuranceCompany != null and t.insuranceCompany != ''">
				and INSURANCE_COMPANY = #{t.insuranceCompany}
			</if>
			<if test="t.moneyCount != null and t.moneyCount != ''">
				and MONEY_COUNT = #{t.moneyCount}
			</if>
			<if test="t.motorcadeTruck != null and t.motorcadeTruck != ''">
				and MOTOR_TRUCK_ID = #{t.motorcadeTruck.id}
			</if>
			<if test="t.insuranceType != null and t.insuranceType != ''">
				and INSURANCE_TYPE = #{t.insuranceType}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="MotorcadeInsurance"
		resultMap="motorcadeInsuranceMap">
		select
		<include refid="selectId" />
		from MOTOR_INSURANCE
		<where>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				and EXCHANGE_RATE = #{exchangeRate}
			</if>
			<if test="endTime != null and endTime != ''">
				and END_TIME = #{endTime}
			</if>
			<if test="purchaseTime != null and purchaseTime != ''">
				and PURCHASE_TIME = #{purchaseTime}
			</if>
			<if test="currency != null and currency != ''">
				and CURRENCY = #{currency}
			</if>
			<if test="fasInvoiceType != null and fasInvoiceType != ''">
				and FAS_INVOICE_TYPE_ID = #{fasInvoiceType.id}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="startTime != null and startTime != ''">
				and START_TIME = #{startTime}
			</if>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="insuranceCompany != null and insuranceCompany != ''">
				and INSURANCE_COMPANY = #{insuranceCompany}
			</if>
			<if test="moneyCount != null and moneyCount != ''">
				and MONEY_COUNT = #{moneyCount}
			</if>
			<if test="motorcadeTruck != null and motorcadeTruck != ''">
				and MOTOR_TRUCK_ID = #{motorcadeTruck.id}
			</if>
			<if test="insuranceType != null and insuranceType != ''">
				and INSURANCE_TYPE = #{insuranceType}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<select id="getAll" resultMap="motorcadeInsuranceMap">
		select
		<include refid="selectId" />
		from MOTOR_INSURANCE
	</select>

	<select id="count" parameterType="MotorcadeInsurance"
		resultType="int">
		select count(0) from MOTOR_INSURANCE
		<where>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				and EXCHANGE_RATE = #{exchangeRate}
			</if>
			<if test="endTime != null and endTime != ''">
				and END_TIME = #{endTime}
			</if>
			<if test="purchaseTime != null and purchaseTime != ''">
				and PURCHASE_TIME = #{purchaseTime}
			</if>
			<if test="currency != null and currency != ''">
				and CURRENCY = #{currency}
			</if>
			<if test="fasInvoiceType != null and fasInvoiceType != ''">
				and FAS_INVOICE_TYPE_ID = #{fasInvoiceType.id}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="startTime != null and startTime != ''">
				and START_TIME = #{startTime}
			</if>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="insuranceCompany != null and insuranceCompany != ''">
				and INSURANCE_COMPANY = #{insuranceCompany}
			</if>
			<if test="moneyCount != null and moneyCount != ''">
				and MONEY_COUNT = #{moneyCount}
			</if>
			<if test="motorcadeTruck != null and motorcadeTruck != ''">
				and MOTOR_TRUCK_ID = #{motorcadeTruck.id}
			</if>
			<if test="insuranceType != null and insuranceType != ''">
				and INSURANCE_TYPE = #{insuranceType}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="MotorcadeInsurance">
		insert into MOTOR_INSURANCE( CREATE_TIME, STATUS, EXCHANGE_RATE,
		END_TIME, PURCHASE_TIME, CURRENCY, FAS_INVOICE_TYPE_ID, ID,
		START_TIME, DESCN, INSURANCE_COMPANY, MONEY_COUNT, MOTOR_TRUCK_ID,
		INSURANCE_TYPE, MODIFY_TIME, DISP_INX )values ( #{createTime},
		#{status}, #{exchangeRate}, #{endTime}, #{purchaseTime}, #{currency},
		#{fasInvoiceType.id},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{startTime},
		#{descn},
		#{insuranceCompany},
		#{moneyCount},
		#{motorcadeTruck.id},
		#{insuranceType},
		#{modifyTime},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from MOTOR_INSURANCE where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultMap="motorcadeInsuranceMap">
		select
		<include refid="selectId" />
		from MOTOR_INSURANCE where id=#{id}
	</select>

	<update id="update" parameterType="MotorcadeInsurance">
		update MOTOR_INSURANCE
		<set>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				EXCHANGE_RATE=#{exchangeRate},
			</if>
			<if test="endTime != null and endTime != ''">
				END_TIME=#{endTime},
			</if>
			<if test="purchaseTime != null and purchaseTime != ''">
				PURCHASE_TIME=#{purchaseTime},
			</if>
			<if test="currency != null and currency != ''">
				CURRENCY=#{currency},
			</if>
			<if test="fasInvoiceType != null and fasInvoiceType != ''">
				FAS_INVOICE_TYPE_ID=#{fasInvoiceType.id},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="startTime != null and startTime != ''">
				START_TIME=#{startTime},
			</if>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="insuranceCompany != null and insuranceCompany != ''">
				INSURANCE_COMPANY=#{insuranceCompany},
			</if>
			<if test="moneyCount != null and moneyCount != ''">
				MONEY_COUNT=#{moneyCount},
			</if>
			<if test="motorcadeTruck != null and motorcadeTruck != ''">
				MOTOR_TRUCK_ID=#{motorcadeTruck.id},
			</if>
			<if test="insuranceType != null and insuranceType != ''">
				INSURANCE_TYPE=#{insuranceType},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
