<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orgentity">
	<sql id="selectId">
		DESCN AS descn,
		ID AS id,
		CREATE_TIME AS createTime,
		STATUS AS status,
		ORG_ENTITY_NAME AS orgEntityName,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex,
		
		PARENT_ORG_ID,
		TYPE_ID
	</sql>
	
	
	<resultMap id="orgEntityMap" type="com.van.halley.db.persistence.entity.OrgEntity">
        <id property="id" column="ID" />
        <result property="orgEntityName" column="ORG_ENTITY_NAME" />
        
        <result property="descn" column="DESCN" />
        <result property="status" column="STATUS" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="modifyTime" column="MODIFY_TIME" />
        <result property="displayIndex" column="DISP_INX" />
        
        <association property="orgType" column="TYPE_ID" select="orgtype.getById" ></association>
        <association property="parentOrg" column="PARENT_ORG_ID" select="orgentity.getById" ></association>
    </resultMap>

	<select id="query" parameterType="java.util.HashMap" resultMap="orgEntityMap">
		select
		<include refid="selectId" />
		from SYS_AUTH_ORG_ENTITY
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.orgType != null and t.orgType != ''">
				and TYPE_ID = #{t.orgType.id}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.parentOrg != null and t.parentOrg != ''">
				and PARENT_ORG_ID = #{t.parentOrg.id}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.orgEntityName != null and t.orgEntityName != ''">
				and ORG_ENTITY_NAME = #{t.orgEntityName}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="OrgEntity" resultMap="orgEntityMap">
		select
		<include refid="selectId" />
		from SYS_AUTH_ORG_ENTITY
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="orgType != null and orgType != ''">
				and TYPE_ID = #{orgType.id}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="parentOrg != null and parentOrg != ''">
				and PARENT_ORG_ID = #{parentOrg.id}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="orgEntityName != null and orgEntityName != ''">
				and ORG_ENTITY_NAME = #{orgEntityName}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<select id="getAll" resultMap="orgEntityMap">
		select
		<include refid="selectId" />
		from SYS_AUTH_ORG_ENTITY ORDER BY ORG_ENTITY_NAME ASC
	</select>

	<select id="count" parameterType="OrgEntity" resultType="int">
		select count(0) from SYS_AUTH_ORG_ENTITY
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.orgType != null and t.orgType != ''">
				and TYPE_ID = #{t.orgType.id}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.parentOrg != null and t.parentOrg != ''">
				and PARENT_ORG_ID = #{t.parentOrg.id}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.orgEntityName != null and t.orgEntityName != ''">
				and ORG_ENTITY_NAME = #{t.orgEntityName}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="OrgEntity">
		insert into SYS_AUTH_ORG_ENTITY( DESCN, TYPE_ID, ID, CREATE_TIME,
		PARENT_ORG_ID, STATUS, ORG_ENTITY_NAME, MODIFY_TIME, DISP_INX )values
		( #{descn}, #{orgType.id},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{parentOrg.id},
		#{status},
		#{orgEntityName},
		#{modifyTime},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from SYS_AUTH_ORG_ENTITY where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultMap="orgEntityMap">
		select
		<include refid="selectId" />
		from SYS_AUTH_ORG_ENTITY where id=#{id}
	</select>

	<update id="update" parameterType="OrgEntity">
		update SYS_AUTH_ORG_ENTITY
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="orgType != null and orgType != ''">
				TYPE_ID=#{orgType.id},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="parentOrg != null and parentOrg != ''">
				PARENT_ORG_ID=#{parentOrg.id},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="orgEntityName != null and orgEntityName != ''">
				ORG_ENTITY_NAME=#{orgEntityName},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
