<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportset">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<sql id="selectId">
		CREATE_TIME AS createTime,
		FIRST_ROW AS firstRow,
		STATUS AS status,
		SET_TYPE AS setType,
		ENABLE AS enable,
		REP_TEMPLATE_ID AS reportTemplateId,
		LAST_COLUMN AS lastColumn,
		ID AS id,
		DESCN AS descn,
		LAST_ROW AS lastRow,
		FIRST_COLUMN AS firstColumn,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex
	</sql>

	<select id="query" parameterType="java.util.HashMap" useCache="false"
		resultType="ReportSet">
		select
		<include refid="selectId" />
		from REP_SET
		<where>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.firstRow != null and t.firstRow != ''">
				and FIRST_ROW = #{t.firstRow}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.setType != null and t.setType != ''">
				and SET_TYPE = #{t.setType}
			</if>
			<if test="t.enable != null and t.enable != ''">
				and ENABLE = #{t.enable}
			</if>
			<if test="t.reportTemplateId != null and t.reportTemplateId != ''">
				and REP_TEMPLATE_ID = #{t.reportTemplateId}
			</if>
			<if test="t.lastColumn != null and t.lastColumn != ''">
				and LAST_COLUMN = #{t.lastColumn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.lastRow != null and t.lastRow != ''">
				and LAST_ROW = #{t.lastRow}
			</if>
			<if test="t.firstColumn != null and t.firstColumn != ''">
				and FIRST_COLUMN = #{t.firstColumn}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="ReportSet" resultType="ReportSet">
		select
		<include refid="selectId" />
		from REP_SET
		<where>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="firstRow != null and firstRow != ''">
				and FIRST_ROW = #{firstRow}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="setType != null and setType != ''">
				and SET_TYPE = #{setType}
			</if>
			<if test="enable != null and enable != ''">
				and ENABLE = #{enable}
			</if>
			<if test="reportTemplateId != null and reportTemplateId != ''">
				and REP_TEMPLATE_ID = #{reportTemplateId}
			</if>
			<if test="lastColumn != null and lastColumn != ''">
				and LAST_COLUMN = #{lastColumn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="lastRow != null and lastRow != ''">
				and LAST_ROW = #{lastRow}
			</if>
			<if test="firstColumn != null and firstColumn != ''">
				and FIRST_COLUMN = #{firstColumn}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<select id="getAll" resultType="ReportSet">
		select
		<include refid="selectId" />
		from REP_SET
	</select>

	<select id="count" parameterType="ReportSet" resultType="int">
		select count(0) from REP_SET
		<where>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="firstRow != null and firstRow != ''">
				and FIRST_ROW = #{firstRow}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="setType != null and setType != ''">
				and SET_TYPE = #{setType}
			</if>
			<if test="enable != null and enable != ''">
				and ENABLE = #{enable}
			</if>
			<if test="reportTemplateId != null and reportTemplateId != ''">
				and REP_TEMPLATE_ID = #{reportTemplateId}
			</if>
			<if test="lastColumn != null and lastColumn != ''">
				and LAST_COLUMN = #{lastColumn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="lastRow != null and lastRow != ''">
				and LAST_ROW = #{lastRow}
			</if>
			<if test="firstColumn != null and firstColumn != ''">
				and FIRST_COLUMN = #{firstColumn}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="ReportSet">
		insert into REP_SET( CREATE_TIME, FIRST_ROW, STATUS, SET_TYPE, ENABLE,
		REP_TEMPLATE_ID, LAST_COLUMN, ID, DESCN, LAST_ROW, FIRST_COLUMN,
		MODIFY_TIME, DISP_INX )values ( #{createTime}, #{firstRow}, #{status},
		#{setType}, #{enable}, #{reportTemplateId}, #{lastColumn},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{descn},
		#{lastRow},
		#{firstColumn},
		#{modifyTime},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from REP_SET where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultType="ReportSet">
		select
		<include refid="selectId" />
		from REP_SET where id=#{id}
	</select>
	
	<select id="getByReportTemplateId" parameterType="String" resultType="ReportSet">
		select
		<include refid="selectId" />
		from REP_SET where REP_TEMPLATE_ID=#{reportTemplateId}
	</select>

	<update id="update" parameterType="ReportSet">
		update REP_SET
		<set>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="firstRow != null and firstRow != ''">
				FIRST_ROW=#{firstRow},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="setType != null and setType != ''">
				SET_TYPE=#{setType},
			</if>
			<if test="enable != null and enable != ''">
				ENABLE=#{enable},
			</if>
			<if test="reportTemplateId != null and reportTemplateId != ''">
				REP_TEMPLATE_ID=#{reportTemplateId},
			</if>
			<if test="lastColumn != null and lastColumn != ''">
				LAST_COLUMN=#{lastColumn},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="lastRow != null and lastRow != ''">
				LAST_ROW=#{lastRow},
			</if>
			<if test="firstColumn != null and firstColumn != ''">
				FIRST_COLUMN=#{firstColumn},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
