<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roleresource">
	<sql id="selectId">
		DESCN AS descn,
		ID AS id,
		CREATE_TIME AS createTime,
		RESOURCE_ID AS resourceId,
		STATUS AS status,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex,
		ROLE_ID AS roleId
	</sql>

	<select id="query" parameterType="java.util.HashMap" resultType="RoleResource">
		select
		<include refid="selectId" />
		from SYS_AUTH_ROLE_RESOURCE
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.resourceId != null and t.resourceId != ''">
				and RESOURCE_ID = #{t.resourceId}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="t.roleId != null and t.roleId != ''">
				and ROLE_ID = #{t.roleId}
			</if>
			<if test="pageView.filterText != null and pageView.filterText != ''">
				and ${pageView.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pageView.orderBy != null and pageView.orderBy != ''">
			order by ${pageView.orderBy}
			<if test="pageView.order != null and pageView.order != ''">
				<if test="pageView.order == 'ASC'">
					ASC
				</if>
				<if test="pageView.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="RoleResource"
		resultType="RoleResource">
		select
		<include refid="selectId" />
		from SYS_AUTH_ROLE_RESOURCE
		<where>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="resourceId != null and resourceId != ''">
				and RESOURCE_ID = #{resourceId}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
			<if test="roleId != null and roleId != ''">
				and ROLE_ID = #{roleId}
			</if>
		</where>
	</select>

	<select id="getAll" resultType="RoleResource">
		select
		<include refid="selectId" />
		from SYS_AUTH_ROLE_RESOURCE
	</select>

	<select id="count" parameterType="RoleResource" resultType="int">
		select count(0) from SYS_AUTH_ROLE_RESOURCE
		<where>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.resourceId != null and t.resourceId != ''">
				and RESOURCE_ID = #{t.resourceId}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="t.roleId != null and t.roleId != ''">
				and ROLE_ID = #{t.roleId}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="RoleResource">
		insert into SYS_AUTH_ROLE_RESOURCE( DESCN, ID, CREATE_TIME,
		RESOURCE_ID, STATUS, MODIFY_TIME, DISP_INX, ROLE_ID )values (
		#{descn},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{createTime},
		#{resourceId},
		#{status},
		#{modifyTime},
		#{displayIndex},
		#{roleId}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from SYS_AUTH_ROLE_RESOURCE where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultType="RoleResource">
		select
		<include refid="selectId" />
		from SYS_AUTH_ROLE_RESOURCE where id=#{id}
	</select>

	<update id="update" parameterType="RoleResource">
		update SYS_AUTH_ROLE_RESOURCE
		<set>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="resourceId != null and resourceId != ''">
				RESOURCE_ID=#{resourceId},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
			<if test="roleId != null and roleId != ''">
				ROLE_ID=#{roleId},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
