<configuration debug="false">
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
	
   <define name="LOCAL_PROP_EXISTS" class="com.van.core.logback.ResourceExistsPropertyDefiner">
      <path>application.local.properties</path>
   </define>

   <define name="SERVER_PROP_EXISTS" class="com.van.core.logback.ResourceExistsPropertyDefiner">
      <path>application.server.properties</path>
   </define>
	
	<property resource="properties/application.properties"/>

	<if condition="${LOCAL_PROP_EXISTS}">
	    <then>
			<property resource="application.local.properties"/>
	    </then>
	</if>

	<if condition="${SERVER_PROP_EXISTS}">
	    <then>
			<property resource="application.server.properties"/>
	    </then>
	</if>

    <jmxConfigurator />

	<include resource="logback/console.xml"/>
	
	<if condition='${log.file.enable}'>
		<then>
			<include resource="logback/file.xml" />
		</then>
	</if>
	
	<if condition='${log.mail.enable}'>
		<then>
			<include resource="logback/mail.xml" />
		</then>
	</if>

	<if condition='${log.inspektr.enable}'>
		<then>
			<include resource="logback/inspektr.xml" />
		</then>
	</if>

	<if condition='${log.log4jdbc.enable}'>
		<then>
			<include resource="logback/log4jdbc.xml" />
		</then>
	</if>

    <root level="info">
        <appender-ref ref="CONSOLE" />
       
		<if condition='${log.file.enable}'>
			<then>
		        <appender-ref ref="FILE" />
			</then>
		</if>
		<if condition='${log.mail.enable}'>
			<then>
		        <appender-ref ref="MAIL" />
			</then>
		</if>
    </root>

<!--
    <logger name="net.sf.ehcache" level="debug"/>
    <logger name="org.hibernate.cache" level="debug"/>
-->

	<logger name="com.van" level="info"/>
	<logger name="org.apache" level="info"/>
	<logger name="java.sql" level="error"/>
	<logger name="com.mchange.v2.c3p0" level="error"/>
	<logger name="org.springframework" level="info"/>
	<logger name="org.springframework.web" level="error"/>
	<logger name="org.springframework.security" level="info"/>
	
	<logger name="org.springframework.context.support.ResourceBundleMessageSource" level="error"/>
	<logger name="org.springframework.security.access.event.LoggerListener" level="error"/>
	<logger name="org.springframework.security.authentication.event.LoggerListener" level="error"/>
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="warn"/>


</configuration>
